{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1 class="text-center">Register</h1>
<div class='container w-50 text-center bg-light'>
    <form action="" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        {% for message in messages%}
            <p id ="messages">{{message}}</p>
        {% endfor %}
        <h8>Already have an account?</h8>
        <a class="text-left" href="{% url 'login'%}"> Login</>
        
        <hr>
        <button type="submit" class="btn btn-primary">Submit</button>
        
    </form>

{% endblock %}
</div>